name: Rubocop

on: [pull_request]

jobs:
  rubocop:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1


      - name: Run rubocop
        run: |
          bundle install
          bundle exec rubocop
